* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Serif', serif;
}

html {
  font-size: 65.5%;
}

body {
  min-height: 100%;
}

.conMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 88vh;
}

.header {
  background-color: #fafa5e;
}

.header h1 {
  width: 80vw;
  font-size: 3.5rem;
  text-align: center;
}

.header .headerCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 8vh;
  height: 8rem;
}

.main {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.note {
  width: 40vw;
  height: 18rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  -webkit-box-shadow: 5px 5px 10px gray;
          box-shadow: 5px 5px 10px gray;
  padding: 5px;
}

.note .btnAdd {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: large;
  float: right;
  margin-right: 4px;
}

.note .btnAdd:focus, .note .btnDelete:focus {
  outline: none;
}

.note .btnAdd:hover {
  color: green;
  background-color: #fafa5e;
}

.note .btnDelete {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: large;
  float: right;
}

.note .btnDelete:hover {
  color: red;
  background-color: #fafa5e;
}

.note input {
  width: 90%;
  height: 5rem;
  border: none;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  font-weight: bold;
}

.note input:focus {
  outline: none;
}

.note textarea {
  width: 90%;
  height: 8rem;
  border: none;
  padding: 1rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0;
  padding-top: 0;
}

.note textarea:focus {
  outline: none;
}

.noteContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showNoteCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.4rem;
}

.showNote {
  width: 23vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 9px;
}

.showNote .note {
  width: 100%;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  -webkit-box-shadow: 5px 5px 10px gray;
          box-shadow: 5px 5px 10px gray;
  padding: 5px;
}

.showNote input {
  width: 90%;
}

.showNote textarea {
  width: 90%;
  height: 10rem;
}

.footer {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .noteContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showNoteCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.4rem;
  }
  .note {
    width: 50vw;
  }
}

@media (max-width: 992px) {
  .noteContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showNoteCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.4rem;
  }
  .note {
    width: 60vw;
  }
  .showNote {
    width: 30vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .noteContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .showNoteCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0.4rem;
  }
  .note {
    width: 70vw;
    height: 18rem;
  }
  .showNote {
    width: 44vw;
  }
  .showNote .note {
    width: 95%;
    height: 20rem;
  }
  img {
    width: 70px;
    height: auto;
  }
  .header h1 {
    font-size: 2.8rem;
  }
}
/*# sourceMappingURL=Index.css.map */